<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="CloudFlareAPI" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KACDC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AadhaarVaultURL" value="http://172.31.36.246:8080/tmrest/SafeNetTokenManager/insertToken?" />
    <add key="naeUser" value="tmtestuser" />
    <add key="naePassword" value="P@ssw0rd" />
    <add key="dbUser" value="DBTEST" />
    <add key="dbPassword" value="rndo_1234" />
    <add key="tableName" value="DBVAULT" />
    <add key="format" value="103" />
    <add key="UDCCode" value="ARY16SEP2020100009" />
    <add key="NotifyURL" value="http://10.10.29.74/" />
    <add key="SendUrl" value="https://10.10.30.183/" />
  </appSettings>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" maxRequestLength="500000000" executionTimeout="3600" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>

    <!--<httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="ALLOW-FROM" />
      </customHeaders>
    </httpProtocol>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <!--<rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>-->

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      
      
      
      
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <connectionStrings>
    <add name="myConnStr" connectionString="Data Source=DESKTOP-6LD3B1M\N6TNB8Q;Initial Catalog=KACDC;Integrated Security=True" />
    <add name="KACDCConnectionString" connectionString="Data Source=DESKTOP-6LD3B1M\N6TNB8Q;Initial Catalog=KACDC;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <CloudFlareAPI>
    <add key="Enabled" value="true" />
    <add key="BaseUrl" value="https://www.cloudflare.com/api_json.html" />
    <add key="ApiKey" value="[YOUR API KEY]" />
    <add key="Email" value="[YOUR EMAIL]" />
  </CloudFlareAPI>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
        <binding name="GetCollegeDetailsSoap" />
        <binding name="WebServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GetCollegeDetailsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://164.100.133.30/ASY_WS/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="NadaKacheriServiceReference.WebServiceSoap" name="WebServiceSoap" />
      <endpoint address="http://aryavysya.karnataka.gov.in/WebServices/GetCollegeDetails.asmx" binding="basicHttpBinding" bindingConfiguration="GetCollegeDetailsSoap" contract="CollegeDataServiceReference.GetCollegeDetailsSoap" name="GetCollegeDetailsSoap" />
      <endpoint address="http://aryavysya.karnataka.gov.in/WebServices/GetCollegeDetails.asmx" binding="customBinding" bindingConfiguration="GetCollegeDetailsSoap12" contract="CollegeDataServiceReference.GetCollegeDetailsSoap" name="GetCollegeDetailsSoap12" />
      <endpoint address="http://164.100.133.30/ASY_WS/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap1" contract="NadaKacheriServiceReference.WebServiceSoap" name="WebServiceSoap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <KACDC.Properties.Settings>
      <setting name="KACDC_CollegeDataReference_GetCollegeDetails" serializeAs="String">
        <value>http://aryavysya.karnataka.gov.in/WebServices/GetCollegeDetails.asmx</value>
      </setting>
    </KACDC.Properties.Settings>
  </applicationSettings>
</configuration>
